[submodule "JZEngine/vendor/spdlog"]
	path = JZEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JZEngine/vendor/imguizmo"]
	path = JZEngine/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
